<%- include("../partials/head") %>
  </head>
  <body>
    <%- include("../partials/host_header") %>
    <main class="container mt-5 flex flex-col justify-center items-center p-5">
      <div
        class="container rounded shadow-md p-5 flex justify-center items-center flex-col gap-2.5"
      >
        <div>
          <h2 class="text-2xl text-rose-600 font-bold text-center">
            Home Registered Successfully
          </h2>
          <p class="font-medium text-gray-400 text-sm text-center">
            Your home has been added to our listings.
          </p>
        </div>
        <a
          href="/host"
          class="py-1 px-2.5 bg-rose-600 hover:bg-rose-400 rounded text-white text-sm"
          >Return to Home</a
        >
      </div>
    </main>
  </body>
</html>
