<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us Form</title>
  </head>
  <body>
    <form action="/contact-us" method="post">
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Enter your name here"
      />
      <br /><br />
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter you email here"
      />
      <br /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
