<form action="/favourites" method="post">
  <input type="hidden" name="homeId", value="<%= home.id %>">
  <input type="hidden" name="action", value="remove">
   <button type="submit" class="flex justify-center items-center cursor-pointer" title="Add to favourites">
            <svg xmlns="http://www.w3.org/2000/svg" height="25" width="25" fill="red" viewBox="0 0 640 640">
    <path d="M576 229.1C576 155.6 516.4 96 442.9 96C400.2 96 360 116.5 335 151.1L320 171.8L305 151.1C280 116.5 239.8 96 197.1 96C123.6 96 64 155.6 64 229.1C64 297.7 106.9 358 143.1 402C187.2 455.5 240.4 502 276.9 529.8C289.2 539.2 304.4 543.9 320 543.9C335.6 543.9 350.8 539.2 363.1 529.8C399.6 502 452.8 455.5 496.9 401.9C533.1 358 576 297.7 576 229.1Z" />
</svg>
          </button>
</form>