<header class="bg-red-600 p-3 pl-5">
  <nav>
    <a href="/" class="text-white p-1.5 hover:bg-red-400 rounded-xs">Home</a>
    <a href="/host/addHome" class="text-white p-1.5 hover:bg-red-400 rounded-xs">Add Home</a>
  </nav>
</header>