<header class="bg-red-600 p-3 pl-5">
  <nav>
    <a href="/host/homePage" class="<%= currentPage === 'host/homePage' ? 'bg-red-400' : 'hover:bg-red-400' %> text-white p-1.5 rounded-xs">Home</a>
    <a href="/host/addHome" class="<%= currentPage === 'host/addHome' ? 'bg-red-400' : 'hover:bg-red-400' %> text-white p-1.5 rounded-xs ml-3">Add Home</a>
    <a href="/host/homeList" class="<%= currentPage === 'host/homeList' ? 'bg-red-400' : 'hover:bg-red-400' %> text-white p-1.5 rounded-xs ml-3">Host Home List</a>
  </nav>
</header>