<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Home to airbnb</title>
  <link rel="stylesheet" href="/output.css">
</head>

<body>
  <header class="p-10 bg-gray-200 mb-5">
    <h1 class="text-3xl font-bold text-center">Register Your home here</h1>
  </header>
  <form action="/host/registered-successfully" method="POST" class="m-10 bg-gray-100 p-10">
    <input type="text" name="houseName" placeholder="Enter the name of your house"
      class="w-60 border-1 border-black px-2">
    <br><br>
    <input type="submit" class="bg-gradient-to-br from-amber-600 to-pink-600 py-1 px-5 text-white rounded-2xl">
  </form>
</body>

</html>