<form action="/host/edit-home/<%= home.id %>" method="post" class="w-full">
  <button type="submit" class="bg-blue-500 hover:bg-blue-600 rounded-3xl w-full py-1 cursor-pointer text-white">Edit</button>
</form>