<form action="/host" method="post" class="w-full">
  <input type="hidden" name="homeId" , value="<%= home.id %>">
  <input type="hidden" name="action" , value="delete">
  <button type="submit" class="bg-red-500 hover:bg-red-600 rounded-3xl w-full py-1 cursor-pointer text-white">Delete</button>
</form>