<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Home</title>
    <link rel="stylesheet" href="/output.css">
  </head>
  <body>
    <header class="bg-gray-200 p-10 mb-5">
    <h1 class="text-3xl font-bold text-center">Home registered successfully</h1>
    </header>
    <main>
      <a href="/host" class="bg-linear-to-br from-amber-600 to-pink-600 mx-10 py-1 px-5 text-white rounded-2xl">Return to Home</a>
    </main>
  </body>
</html>
