<form action="/bookings" method="post">
  <input type="hidden" name="homeId" , value="<%= home.id %>">
  <input type="hidden" name="action" , value="add">
  <button type="submit" class="bg-red-700 hover:bg-red-800 text-white rounded-lg py-1 px-3 cursor-pointer text-xl" title="Add to favourites">
    Remove from Bookings
  </button>
</form>