<%- include("../partials/head") %>
  </head>
  <body class="h-dvh w-dvw">
    <main class="h-full w-full flex justify-center items-center flex-col gap-2">
      <h1 class="text-5xl text-bold text-rose-600">404</h1>
      <p class="font-medium text-gray-500 text-sm text-center">
        Oops! Page Not Found
      </p>
      <a
        href="/"
        class="py-1 px-2.5 bg-rose-600 hover:bg-rose-400 rounded text-white text-sm"
        >Go to Home</a
      >
    </main>
  </body>
</html>
