<form action="/favourites" method="post">
  <input type="hidden" name="homeId" , value="<%= home.id %>">
  <input type="hidden" name="action" , value="add">
  <button type="submit" class="bg-amber-500 hover:bg-amber-600 rounded-lg py-1 px-3 cursor-pointer text-white text-xl" title="Add to favourites">
    Add to favourites
  </button>
</form>