<form action="/favourites" method="post" class="w-full">
  <input type="hidden" name="homeId" , value="<%= home.id %>">
  <input type="hidden" name="action" , value="remove">
  <button type="submit" class="bg-gray-300 hover:bg-gray-400 text-gray-800 rounded-3xl py-1 px-3 cursor-pointer text-xl w-full" title="Add to favourites">
    Unlike
  </button>
</form>